#result {
    text-align: center;
    font-size: 70px;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.function {
    display: flex;
    justify-content: center;
}
#addButton, #subtractButton {
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    margin: 5px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}
#addButton:hover, #subtractButton:hover {
     cursor: pointer;
     background-color: white;
     color: gray;
     border: 2px solid gray;
     border-radius: 10px;
 } 
#myInput {
    border-radius: 10px;
    border: 2px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100px;
}